<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
    <!-- The default local repository or 'cache' is set to %HOME%\.m2\repository.
         You can override the default by using the <localRepository> tag below. -->
    <!--     <localRepository>/Users/<username>/.m2/repository</localRepository> -->
    <mirrors>
        <mirror>
            <id>prod</id>
            <name>AEDC Build production repo-group</name>
            <url>https://ci-repo.aexp.com/java-proxy/content/groups/prod/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
    <!-- Internal repositories must be defined in the <profiles> section.  Since
         we use a repository group, need only to define one repo. The profile is
         activated below using <activeProfiles>.  -->
    <profiles>
        <profile>
            <id>aedc</id>
            <repositories>
                <repository>
                    <id>prod</id>
                    <name>AEDC Build production repo-group</name>
                    <url>https://ci-repo.aexp.com/java-proxy/content/groups/prod/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>prod</id>
                    <name>AEDC Build production repo-group</name>
                    <url>https://ci-repo.aexp.com/java-proxy/content/groups/prod/</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>aedc</activeProfile>
    </activeProfiles>
</settings>